@import url("http://fonts.cdnfonts.com/css/anime-ace");
@import url(https://db.onlinewebfonts.com/c/c8e8fcd5d85d9b587022fe0a79809b73?family=Friz+Quadrata);



body {
    background-color: gray;
    background-image: linear-gradient(purple,gray);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
}

#header-div{
    height: 20vh;
}

#header1{
    display: inline-block;
    color: white;
    font-size: 4em;
    font-family: 'Friz Quadrata';
    font-weight: normal;
    margin-top: 0;
    padding: 1em 0 0 1em;
}

#clock{
    padding-left: 1em;
}

.saat{
    color: white;
    font-weight: normal;
    font-size: 1.3em;
}

#class-select-fieldset{
    margin-left: 1em;
    margin-right: 1.2em;
    min-height: 75vh;
    border: 5px solid #aaa;
    border-radius: 10px;
}

#class-select-legend{
    color: black;
    font-size: 2em;
    font-weight: normal;
    font-family: 'Friz Quadrata';
    background-color: #ddd;
    border: 2px solid black;
    border-radius: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}


#class-select-select{
    display: block;
    width: 25%;
    margin-top: 2em;
}

#class-select-div{
    margin: 0 auto;
}




