body{
    background-image: linear-gradient(aqua,white,purple);
}

#header{
    text-align: center;
}

table{
    margin: auto;
    border: 1px solid black;
    font-family: Helvetica;
}

td{
    padding: 5px 10px 0 5px ;
}

.gunler{
    text-align: center;
    color: red;
}


