body{
    background-color: rgb(161, 85, 85);
}


#ders-programı{
    width: 900;
    height: 300;
    border: 1px solid;
    text-align: center;
    margin: 100px 0 0 250px;
    border-collapse: collapse;
    text-align: left;
}


#link1  {
    color: #111;
    text-align: center;
    font-size: 3em;
    margin: 0 0 25px 0;
    text-decoration: none;
    text-align: center;
}

